[Unit]
Description=mongod service
After=docker.service
Requires=docker.service
After=etcd.service
Requires=etcd.service
After=mongo-data@%i.service
Requires=mongo-data@%i.service

[Service]
KillMode=none

# Let processes take awhile to start up
TimeoutStartSec=0
TimeoutStopSec=360

EnvironmentFile=/etc/environment
Environment=INSTANCE=%i
ExecStartPre=/bin/bash -c "/usr/bin/docker pull jaigouk/mongodb-container"
ExecStartPre=-/bin/bash -c "/usr/bin/docker rm -f mongodb"
ExecStart=/bin/bash -c "\
          set -e; \
          REPLICA_NAME=$(etcdctl get /mongo/replica/name 2>/dev/null || true); \
          REPLICA_KEY=$(etcdctl get /mongo/replica/key 2>/dev/null || true); \
          MONGO_ARGS='--smallfiles'; \
          if [ -n \"$REPLICA_KEY\" ]; \
          then \
            MONGO_ARGS=\"--replSet $REPLICA_NAME --keyFile /data/db/replica.key\"; \
            mkdir -p /var/mongo; \
            echo $REPLICA_KEY > /var/mongo/replica.key; \
            chmod 700 /var/mongo/replica.key; \
          else \
            if [ \"$INSTANCE\" -eq \"1\" ]; \
            then \
              echo \"starting first node to configure\"; \
            else \
              echo \"replica is not ready yet\"; \
              sleep 300; \
              exit 1; \
            fi; \
          fi; \
          echo ==============================; \
          echo setting CID
          echo ==============================; \
          docker run \
              --rm \
              --name mongodb \
              --volumes-from mongo-data \
              -p 27017:27017 \
              jaigouk/mongodb-container $MONGO_ARGS);"

ExecStartPost=/bin/bash -c "\
          set -e; \
          /usr/bin/etcdctl set /mongo/replica/nodes/$COREOS_PRIVATE_IPV4/port 27017; \
          /usr/bin/etcdctl set /mongo/replica/nodes/$COREOS_PRIVATE_IPV4/status on; \
          REPLICA_KEY=$(etcdctl get /mongo/replica/key 2>/dev/null || true); \
          if [ -n \"$REPLICA_KEY\" ]; then exit 0; fi; \
          if [ \"$INSTANCE\" -ne \"1\" ]; then exit 0; fi; \
          /usr/bin/sleep 60; \
          \
          echo ==============================; \
          echo Configuring credentials ; \
          echo ==============================; \
          SITE_USR_ADMIN_PWD=$(etcdctl get /mongo/replica/siteUserAdmin/pwd || \
                               etcdctl set /mongo/replica/siteUserAdmin/pwd \
                                          $(openssl rand -base64 32)); \
          SITE_ROOT_PWD=$(etcdctl get /mongo/replica/siteRootAdmin/pwd || \
                          etcdctl set /mongo/replica/siteRootAdmin/pwd \
                                      $(openssl rand -base64 32)); \
          \
          echo ==============================; \
          echo Creating the siteUserAdmin user... ; \
          echo ==============================; \
          docker run -t --rm --name mongodb --volumes-from mongo-data%i --entrypoint=mongo"  \
            jaigouk/mongodb-container $COREOS_PRIVATE_IPV4/admin  \
           --eval 'use admin; db.createUser({ user:\"siteUserAdmin\", pwd:\"$SITE_USR_ADMIN_PWD\", roles: [{role:\"userAdminAnyDatabase\", db:\"admin\"}]}); db.createUser({ user:\"siteRootAdmin\", pwd:\"$SITE_ROOT_PWD\", roles: [{role:\"userAdminAnyDatabase\", db:\"admin\"}]});' \
          \
          etcdctl set /mongo/replica/key \"$(openssl rand -base64 741)\"; \
          echo restarting now... ; \
          exit 1"

ExecStop=/bin/bash -c -v "\
          /usr/bin/docker stop -t 60 mongodb || true; \
          /usr/bin/etcdctl set /mongo/replica/nodes/$COREOS_PRIVATE_IPV4/status off"

Restart=on-failure

[X-Fleet]
X-Conflicts=%p@*.service
Conflicts=%p@*.service
MachineOf=mongo-data@%i.service